<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.songtaste.weeklist">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".WkAppcation"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".WeeklistActivity"
            android:label="@string/title_activity_weeklist">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TestActivity"
            android:label="@string/title_activity_weeklist"></activity>

        <service
            android:name="com.umeng.update.net.DownloadingService"
            android:process=":DownloadingService" />

        <activity
            android:name="com.umeng.update.UpdateDialogActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="54dac602fd98c59a520009e4" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="jasmine" />

        <service
            android:name=".PlayerService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".DownloadService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".DownloadActivity"
            android:label="@string/title_activity_download" />

        <activity
            android:name=".DownloadServiceTestActivity"
            android:label="Test" />
    </application>

</manifest>
